@import url('./color-pallete-v2.css');
@import url('./normalise.css');
@import url('./text-button.css');

/* Global styles */

body {
  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 8px;
  color: var(--primary);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

section > *,
footer > * {
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 32px 5%;
}

/* Row container */

.row-container {
  display: flex;
}

@media (max-width: 800px) {
  .row-container {
    flex-direction: column;
  }
}

.row-container:not(:first-child) {
  margin-top: 48px;
}

.row-container > * {
  margin: 0 8px;
  flex: 1;
}

.row-container .text {
  margin: 0 8px;
}

.row-container div.image-placeholder {
  background-color: #999;
  transition: transform 0.5s cubic-bezier(0.155, 1.105, 0.295, 1.12),
    box-shadow 0.5s,
    -webkit-transform 0.5s cubic-bezier(0.155, 1.105, 0.295, 1.12);
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

.row-container div.image-placeholder:hover {
  transform: perspective(1000px) rotateX(0.6deg) rotateY(-1.6deg)
    scale3d(1, 1, 1);
}

.row-container img {
  max-width: 100%;
}

.row-container h3 {
  margin-top: 0;
}

.image-shadow {
  box-shadow: 0px 6px 10px #0002, 0 0 6px #0002;
}

/* Row container ends */

/* Header styles */

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

header nav {
  width: 100%;
}

@media (max-width: 800px) {
  header nav {
    display: none;
  }
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background-color: var(--primary);
  margin: 0;
}

header nav ul li {
  margin: 0 16px;
}

header nav a {
  color: var(--on-primary);
}

header div.header-container {
  margin: auto 24px;
}

header div.header-container > span {
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
}
header div.header-container h1 {
  margin-top: 8px;
}

header h1 span:last-of-type {
  font-style: italic;
  color: var(--primary);
}

/* Header ends */

/* Hero section */

#hero {
  background-color: var(--primary);
  display: flex;
}

@media (max-width: 800px) {
  #hero {
    flex-direction: column;
  }
}

#hero * {
  color: var(--on-primary);
}

#hero > * {
  flex: 1;
  margin: 0 16px;
}

#hero > *:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--primary-container);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 3s ease-in-out;
}

#hero .avatar:hover {
  transform: rotate(180deg);
}

#hero .avatar span {
  color: var(--on-primary-container);
  font-weight: 900;
  font-size: 150px;
  cursor: default;
}
/* Hero section ends */

/* Experience section */

#certificates a img {
  width: 100px;
}

/* Footer section */

footer#contact {
  background-color: var(--primary);
  padding: 24px 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer#contact * {
  color: var(--on-primary);
}

footer#contact .container {
  display: flex;
  align-items: center;
}

.back-to-top {
  margin: 1em 0;
  transition: all 0.6s;
}
.back-to-top i:hover {
  transform: translateY(-2px);
}

footer#contact .container a {
  height: 2em;
  width: 2em;
  font-size: 1.5em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer#contact hr {
  width: 100%;
}
