/* Global styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin-top: 32px;
  margin-bottom: 1.5rem;
  color: var(--primary);
}

h1 {
  font-size: 32px;
  line-height: 36px;
}

h2 {
  font-size: 32px;
  text-align: center;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}
