/* Row container */

.row-container {
  display: flex;
  gap: 2rem;
}

@media (max-width: 560px) {
  .row-container {
    flex-direction: column-reverse;
  }
}

.row-container {
  margin-top: 48px;
}

.row-container > * {
  flex: 1;
  height: 100%;
}

@media (min-width: 720px) {
  .row-container > div.text {
    flex-basis: 60%;
  }

  .row-container > div.image {
    flex-basis: 40%;
  }
}

.row-container > div.image img {
  max-width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.155, 1.105, 0.295, 1.12);
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.row-container > div.image img:hover {
  transform: perspective(1000px) rotateX(1.6deg) rotateY(-2.6deg)
    scale3d(1, 1, 1);
}

.row-container h3 {
  margin-top: 0;
}
