/* text button */

a.framed-button,
button.framed-button {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Roboto Serif', serif;
  border: var(--primary) solid 3px;
  padding: 0.4rem 1rem;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
  line-height: 1.2;
}

a.framed-button:hover,
button.framed-button:hover {
  background-color: var(--primary);
  color: var(--on-primary);
}

a.plain-button,
button.plain-button {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Roboto Serif', serif;
  border: none;
  padding: 0.4rem 1rem;
  display: inline-block;
  transition: background-color 0.5s ease-in-out;
  line-height: 1.2;
}

a.plain-button:hover,
button.plain-button:hover {
  transform: translate(2px);
}

/* square button */

button.square-button {
  width: 60px;
  height: 60px;
  border: 3px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  background-color: var(--background);
}

button.square-button i {
  font-size: 24px;
}
