/* Global styles */

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
}

p,
ul {
  margin-top: 0.7em;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Roboto Serif', serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary);
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

html.sr .load-hidden {
  visibility: hidden;
}
