/* button */

a.text-button,
button.text-button {
  font-size: 24px;
  font-weight: 900;
  font-family: 'Roboto Serif', serif;
  border: var(--primary) solid 3px;
  padding: 5px 8px;
  height: 40px;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}

a.text-button > .fa,
button.text-button > .fa {
  vertical-align: -11.5%;
}

a.text-button:hover,
button.text-button:hover {
  background-color: var(--primary);
  color: var(--on-primary);
}
